*, *:before, *:after {
  box-sizing: border-box;
}

/*CUSTOM STYLES*/



input {
    height: 2em;
    width: 15em;
}

.sidetabs {
    list-style-type: none;
    width: 22%;
    display: inline-block;
    float: right;
    margin-top: -15%;

}

.sidetabs li {
    width: 5em;
    height: 15em;
    border-radius: 0px 10px 10px 0px;
}

.listtab {
    background-color: grey;
}

.baskettab {
    background-color: blue;
}

.buylist {
    list-style-type: none;

}

.wrapper {
    display: ;
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: grey;
}


i, li > p {
    display: inline-block;
}

